main{
    .contenedor{
        .accordion{
            .accordion-body{
                background: $color-pricipal ;
              }
              .accordion-item{
                background:$color-cards;
              
              }
              .accordion-button{
                background:$color-cards;
                color: cornsilk;
              }
        }
        .card{
            border-radius: 10px;
            min-height: 150px;
            padding: 20px;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
        }
    }
}