main{
    .contenedor{
        .proyectos2{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
            gap: 20px;
            .contenedor-proyectos{
                display: grid;
                grid-template-rows:  1fr * 5;
                gap: 20px;
                .card{
                    border-radius: 10px;
                    min-height: 200px;
                    padding: 20px;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center center;
                }
                button{
                    width: 100%;
                    background: $color-pricipal;
                    color:white;
                    text-transform: uppercase;
                    padding: 1em;
                    &:hover:focus{
                        background-color: rgb(99, 0, 192);
                        color: cornsilk;
                    }
               }
            }
        }
    }
}