body {
  background: url(../img/background-black.jpg);
  font-family: 'Alegreya Sans', sans-serif;
  color: honeydew;
}

body header {
  width: 100%;
  height: 550px;
  background: -webkit-gradient(linear, left top, right top, from(#ec2f4b6b), to(#009dff5d)), url(../img/portada-2.jpg);
  background: linear-gradient(to right, #ec2f4b6b, #009dff5d), url(../img/portada-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

body header nav {
  background: url(../img/background-black.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

body header nav .nav__items, body header nav .nav__items--boton {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  padding: 10px 15px;
  font-weight: inherit;
}

body header nav .nav__items--boton {
  border: 1px solid #790cd3;
}

body header .titulo {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
  font-family: 'Playfair Display', serif;
}

main .contenedor .accordion .accordion-body {
  background: #790cd3;
}

main .contenedor .accordion .accordion-item {
  background: #790cd3;
}

main .contenedor .accordion .accordion-button {
  background: #790cd3;
  color: cornsilk;
}

main .contenedor .card {
  border-radius: 10px;
  min-height: 150px;
  padding: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

main .contenedor {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px;
  max-width: 1200px;
}

main .contenedor .sub-titulo {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 35px;
  -webkit-box-shadow: 0 0 20px 0 #790cd3;
          box-shadow: 0 0 20px 0 #790cd3;
  text-align: center;
  padding: 20px;
}

main .contenedor .sub-titulo:hover {
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  background: #cc00ff6c;
  -webkit-box-shadow: 0 0 20px #c0003093;
          box-shadow: 0 0 20px #c0003093;
  font-weight: 700;
}

main .contenedor .sobre-mi {
  margin-top: 15px;
  text-align: center;
}

main .contenedor .sobre-mi .sobre-mi__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
}

main .contenedor .sobre-mi .contenedor__sobre-mi {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

main .contenedor .sobre-mi .contenedor__sobre-mi .sobre-mi__textos {
  margin: 10px;
  padding: 10px;
  background: #4645449d;
  border: 2px solid #790cd3;
}

main .contenedor .sobre-mi .contenedor__sobre-mi .sobre-mi__textos:hover {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0 0 20px #c0003093;
          box-shadow: 0 0 20px #c0003093;
}

main .contenedor .sobre-mi .contenedor__sobre-mi .sobre-mi__textos h3 span {
  background: #790cd3;
  color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  -webkit-box-shadow: black;
          box-shadow: black;
  margin-right: 5px;
}

main .contenedor .proyecto__grid {
  display: -ms-grid;
  display: grid;
  height: 550px;
      grid-template-areas: "proyecto-1 proyecto-1 proyecto-2 proyecto-3" "proyecto-1 proyecto-1 proyecto4 proyecto-6";
  gap: 10px;
}

main .contenedor .proyecto__grid .proyecto__item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .contenedor .proyecto__grid .proyecto__item:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: proyecto-1;
}

main .contenedor .proyecto__grid .proyecto__item:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: proyecto-2;
}

main .contenedor .proyecto__grid .proyecto__item:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: proyecto-3;
}

main .contenedor .proyecto__grid .proyecto__item:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: proyecto4;
}

main .contenedor .proyecto__grid .proyecto__item:nth-of-type(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: proyecto-6;
}

main .contenedor .proyecto__grid .proyecto__item .proyecto__hover {
  position: absolute;
  background: #9707da6c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  cursor: pointer;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

main .contenedor .proyecto__grid .proyecto__item .proyecto__hover:hover {
  -webkit-transform: traslate(0%);
          transform: traslate(0%);
}

main .contenedor .proyecto__grid .proyecto__item .proyecto__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

main .contenedor .tecnologias {
  min-width: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contenedor .tecnologias .tech__textos .titulos_tech {
  color: #790cd3;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

main .contenedor .tecnologias .tech__textos .parrafos__tech {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}

main .contenedor .tecnologias .img__tech {
  text-align: center;
}

main .contenedor .tecnologias .img__tech .imagen__t {
  max-width: 80%;
}

main .contenedor .tecnologias .img__tech--left {
  text-align: left;
}

main .contenedor .recomendaciones__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

main .contenedor .recomendaciones__grid .recomendaciones__item {
  width: 95%;
  margin: 0 auto;
  background: #6300c0a4;
  -webkit-box-shadow: 0 0 20px #c0003093;
          box-shadow: 0 0 20px #c0003093;
  border-radius: 7px;
  padding: 30px 25px;
  color: #ffffff;
  margin-bottom: 50px;
}

main .contenedor .recomendaciones__grid .recomendaciones__item:hover {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0 0 20px 0 #8a12ec93;
          box-shadow: 0 0 20px 0 #8a12ec93;
  background: #c0003093;
}

main .contenedor .recomendaciones__grid .recomendaciones__item .recomendaciones__persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

main .contenedor .recomendaciones__grid .recomendaciones__item .recomendaciones__persona .recomendaciones__img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid black;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
  display: block;
  border: 3px solid #ffffff;
  margin-right: 30px;
}

main .contenedor .recomendaciones__grid .recomendaciones__item .recomendaciones__persona .recomendaciones__texto .recomendaciones__nombre {
  color: #ebe99f;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

main .contenedor .recomendaciones__grid .recomendaciones__item .recomendaciones__persona .recomendaciones__texto .recomendaciones__verificacion {
  color: #cfc7c7;
  font-weight: 700;
}

main .contenedor .recomendaciones__grid .recomendaciones__item .recomendaciones__review {
  font-weight: 300;
}

main .contenedor .card {
  font-family: "Alegreya Sans", sans-serif;
  background: #6300c0a4;
  -webkit-box-shadow: 0 8px 10px #c0003093;
          box-shadow: 0 8px 10px #c0003093;
  cursor: pointer;
}

main .contenedor .card:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background: #c0003093;
  -webkit-box-shadow: 0 8px 10px #6300c0a4;
          box-shadow: 0 8px 10px #6300c0a4;
}

main .contenedor .grid__sobre-mi {
  display: -ms-grid;
  display: grid;
  border-radius: 7px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

main .contenedor .grid__sobre-mi .grid__img {
  width: 50%;
}

main .contenedor .grid__sobre-mi .grid__img img {
  width: 100%;
}

main .contenedor .grid__sobre-mi .sobre-mi-textos {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: #ffffff;
  color: black;
}

main .contenedor .proyectos2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

main .contenedor .proyectos2 .contenedor-proyectos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5fr;
      grid-template-rows: 5fr;
  gap: 20px;
}

main .contenedor .proyectos2 .contenedor-proyectos .card {
  border-radius: 10px;
  min-height: 200px;
  padding: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

main .contenedor .proyectos2 .contenedor-proyectos .card-boton {
  border-radius: 18px;
  padding: 20px;
  overflow: hidden;
}

main .contenedor .proyectos2 .contenedor-proyectos .card-boton .btn-group {
  background-color: aliceblue;
  color: black;
}

main .contenedor .contenedor-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: whitesmoke;
  margin: 20px;
}

main .contenedor .contenedor-servicios .img__servicios {
  width: 48%;
}

main .contenedor .contenedor-servicios .contenidos-textos {
  width: 48%;
}

main .contenedor .contenedor-servicios .contenidos-textos h3 {
  margin-bottom: 15px;
  padding: 5px;
}

main .contenedor .contenedor-servicios .contenidos-textos h3 span {
  background: #790cd3;
  color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  -webkit-box-shadow: black;
          box-shadow: black;
  margin-right: 5px;
}

main .contenedor .titulo-form .contacto__titulo {
  text-align: center;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #3b3b3b;
  -webkit-box-shadow: 0 0 20px 0 0 0 20px 0 #8a12ec93;
          box-shadow: 0 0 20px 0 0 0 20px 0 #8a12ec93;
}

main .contenedor .titulo-form .contacto__titulo span {
  color: #790cd3;
}

main .contenedor .contacto-form {
  -webkit-box-shadow: 0 0 20px 0 0 0 20px 0 #8a12ec93;
          box-shadow: 0 0 20px 0 0 0 20px 0 #8a12ec93;
}

main .contenedor .contacto-form * {
  padding: 1em;
}

main .contenedor .contacto-form .contacto-form__icono {
  width: 16em;
  height: 16em;
  margin: auto;
}

main .contenedor .contacto-form .contacto-form__formulario h3 {
  text-align: center;
}

main .contenedor .contacto-form .contacto-form__formulario form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .contenedor .contacto-form .contacto-form__formulario form .blok {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

main .contenedor .contacto-form .contacto-form__formulario form input, main .contenedor .contacto-form .contacto-form__formulario form button, main .contenedor .contacto-form .contacto-form__formulario form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  border-bottom: 2px solid #790cd3;
  background: none;
  outline: none;
  color: #f7f7f7;
}

main .contenedor .contacto-form .contacto-form__formulario form button {
  background: #790cd3;
  text-transform: uppercase;
  padding: 1em;
}

main .contenedor .contacto-form .contacto-form__formulario form button:hover:focus {
  background-color: #6300c0;
  color: cornsilk;
}

footer {
  border-top: 1px solid #790cd3;
  background: rgba(121, 12, 211, 0.644);
}

footer .contenedor {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px;
  max-width: 1200px;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer .footer__items {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: inherit;
}

footer .footer .footer__items:hover {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  color: rgba(216, 213, 214, 0.952);
  font-size: 2.2rem;
  border-bottom: 1px solid #aeadaf;
}

footer .footer .pie {
  font-family: 'Dancing Script', cursive;
}

@media only screen and (max-width: 800px) {
  body header {
    background-position: center;
  }
  body header nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body header nav .nav__items, body header nav .nav__items--boton {
    font-weight: 400;
    border-bottom: 1px solid #ffff;
    margin-right: 0;
  }
  body header nav .nav__items--boton {
    border-bottom: #790cd3;
  }
  body main .contenedor {
    width: 100%;
    padding: 40px;
  }
  body main .contenedor .sobre-mi .contenedor__sobre-mi {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
    margin: 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .contenedor .proyecto__grid {
        grid-template-areas: "proyecto-1 proyecto-1 proyecto-2 proyecto-2" "proyecto-1 proyecto-1 proyecto-3 proyecto-3" "proyecto4 proyecto4 proyecto-6 proyecto-6";
  }
  body main .contenedor .tecnologias {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 10px;
  }
  body main .contenedor .tecnologias .img__tech--left {
    text-align: center;
  }
  body main .contenedor .recomendaciones__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px;
  }
  body main .contenedor .grid__sobre-mi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  body main .contenedor .grid__sobre-mi .grid__img {
    width: 50%;
  }
  body main .contenedor .grid__sobre-mi .grid__img img {
    width: 100%;
    height: 60%;
  }
  body main .contenedor .contenedor-servicios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .contenedor .contenedor-servicios .img__servicios {
    width: 93%;
  }
  body main .contenedor .contenedor-servicios .contenidos-textos {
    width: 93%;
  }
  body main .contenedor .contenedor-servicios .contenidos-textos h3 {
    margin-bottom: 10px;
    padding-top: 10px;
  }
  body main .contenedor .titulo-form .contacto__titulo {
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #3b3b3b;
    -webkit-box-shadow: 0 0 20px 0 rgba(138, 18, 236, 0.432);
            box-shadow: 0 0 20px 0 rgba(138, 18, 236, 0.432);
  }
  body main .contenedor .titulo-form .contacto__titulo span {
    color: #790cd3;
  }
  body main .contenedor .contacto-form .contacto-form__icono {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 18em;
    height: 18em;
    height: 18em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .contenedor .contacto-form .contacto-form__formulario h3 {
    padding: 1em;
    text-align: center;
    font-size: 25px;
  }
  body main .contenedor .contacto-form .contacto-form__formulario form {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
  }
  body footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 435px) {
  body header nav {
    height: 100px;
  }
  body header nav .nav__items, body header nav .nav__items--boton {
    font-weight: 400;
    border-bottom: 1px solid #ffff;
    margin-right: 0;
  }
  body header nav .nav__items--boton {
    border-bottom: #790cd3;
  }
  body .contenedor {
    padding: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */